.carrusel1{
  padding-bottom: 0px;
  color: white;
  width: 18%;
  height: 100% !important;
  margin-bottom: 0px;
  float: left;
}
.carrusel2{
  padding-bottom: 0px;
  color: white;
  width: 18%;
  height: 100%;
  margin-bottom: 0px;
  float: right;

}
body{
  width: 100%;
  height: 100%;
  background-color: black;
  color: white
}
html{
  height: 100%
}

#imagesCarousel{
  margin-top: 7%;
  padding-top: 40%;
  width: auto;
  height: 100%  !important;
  background-color: white !important;
}
#buttonSlider{
  float: right;
  background-color: inherit;
  color: green;
  font: bold;
  border-style: none;
}

.itemsMenu{
  color: white;
}

#marketingDiv{
  border: cyan;
  border-style: solid;
  border-width: thin;
  left: 10%;
  right:10%;
  width: 80%;
  height: 25%;
  background-color: #174e50;
  position: relative;

}



@media only screen and (max-width : 1500px) {
/*#imagesCarousel{
  margin-top: 7%;
  padding-top: 40%;
  width: auto;
  height: 100%;
  overflow: scroll;
}*/
}